html {
  box-sizing: border-box;
  font-family: serif;
  background-color: #fdf6e3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

strong {
  font-weight: normal;
}

.fruity-contents {
  width: 40%;
  float: left;
  margin: .25em 1em 0 0;
}

figure {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fdf6e3;
  color: #000;
  text-align: center;
  padding: 1em;
}

h1 {
  font-family: serif;
}

main {
  line-height: 1;
}

.wrapper {
  background-color: #eee8d5;
}

h2 {
  color: #93a1a1;
}

main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main ul li {
  display: inline;
  color: #000;
}

.types {
  display: inline;
  color: #000;
}

footer{
  font-size: 1.5rem ;
}
