html {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #fdf6e3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

strong {
  font-weight: normal;
}

.fruity-contents {
  width: 40%;
  float: left;
  margin: .25em 1em 0 0;
}

figure {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fdf6e3;
  color: #000;
  text-align: left;
  padding: 1.5em;
  text-transform: uppercase;
}

h1 + strong {
  font-family: serif;
  font-weight: bold;
}

main {
  line-height: 1;
}

.wrapper {
  background-color: #eee8d5;
}

.wrapper > .dfn {
  background-color: #b58900;
  color: #fff;
}

h2 {
  color: #93a1a1;
}

.types {
  background-color: #657ba3;
  background-color: #586e75;
  background-color: #d04b16;
}

footer {
  font-size: 1.5rem;
}
